# Begin - Prevent Browsing and Set Default Resources
Options -Indexes
DirectoryIndex index.html index.htm
# End - Prevent Browsing and Set Default Resources

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://22digital.co.za [R=301,L]
</IfModule>
